<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/User/Desktop/Programação/RestAssuredLearning/src/test/java/airlines/airlinesTests.java">
        <classes>
            <class name="airlines.airlinesTests">
                <methods>
                    <include name="createAirline"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>